@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "flowbite"; */
body {
    @apply bg-background text-white;
}

/* img jumbotron */
@keyframes floating {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.floating {
    animation: floating 3s ease-in-out infinite;
}

/* jumbotron */
@keyframes moveLines {
    0% { background-position: 0 0; }
    100% { background-position: 100px 100px; }
}

.animated-lines {
    background: repeating-linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.1) 0px,
        rgba(255, 255, 255, 0.1) 2px,
        transparent 2px,
        transparent 20px
    );
    background-size: 100px 100px;
    animation: moveLines 4s linear infinite;
}
